<div class="sub-header">
    <div class="sub-header-shadow">
        <div class="container">
            <div class="sub_header_text">
                <div class="sub-header-property-detail">
                    <h2>Sites around <a class="link" herf="#">{{city}}</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="divider-medium"></div>
    <div class="row">
        <div class="col-md-12 col-sm-7">
            <div class="col-md-12 col-sm-12 col-xs-12 properties-section">
              <div class="container">
                  <div class="row">
                      <div class="titles1 col-md-12 col-sm-12 col-xs-12">
                          <h3>{{city}} Sites</h3>
                          <p>Look at our latest listed properties and check out the facilities on them, We have already sold more than you think.</p>
                      </div>

              <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let site of siteList">
                  <div class="agent-area">
                      <div class="agent-pro">
                          <img src="{{site.picture}}" alt="Property Image">
                      </div>
                      <div class="ag-detail">
                          <div class="ag-name">
                              <h4 class="name">{{site.name}}</h4>
                              <a (click)="gotoPlaces(site)" class="btn btn-sm btn-default abtn">Veiw</a>
                          </div>
                          <div class="property-feature">
                              <span title="Bedrooms" class="icon beds"><span>5</span></span>
                          </div>
                      </div>
                  </div>
                  <div class="divider-medium"></div>
              </div>

              </div>
              </div>
          </div>
            <div class="pagination">
                <ul>
                   <li *ngIf="pageCount>4" id="previous"><a (click)="gotoPrevius()"><i class="fa fa-chevron-left"></i></a></li>
                    <li  *ngFor="let page of pages" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a  (click)="gotoPage(page)">{{page}}</a></li>
                    <li *ngIf="pageCount>4" id="next"><a (click)="gotoNext()"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="divider-medium"></div>
</div>
