<!-- Main Page header -->
<div class="sub-header">
    <div class="sub-header-shadow">
        <div class="container">
            <div class="sub_header_text">
                <div class="sub-header-info">
                    <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Contact Section -->
<div class="contact">
    <!-- Contact map -->

    <div class="contact-bg show-block">
        <div class="container contact-container">
            <div class="property-contact-box">
                <!-- Contact Form -->
                <form id="contact_form" class="contact-form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="contact-title">
                                        <h2>Get in touch!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-7 col-xs-12">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" required="" placeholder="Your Name" id="name" name="name">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" required="" placeholder="Your Email" id="email" name="email">
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" required="" placeholder="Subject" id="phone" name="phone">
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <textarea required="" placeholder="Type your message here ..." rows="8" cols="8"
                                              id="message" name="message"></textarea>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button class="contact-agent-button" id="submit">
                                        <i class="fa fa-paper-plane"></i> Get In Touch
                                    </button>
                                </div>
                                <span class="message-contact"></span>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="divider-medium"></div>
    </div>
</div><!-- End Contact Section -->
