<div class="footer col-md-12 col-sm-12 col-xs-12">
  <div class="footer-in">
      <div class="divider-medium"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12 about">
                  <h2>SQUATA</h2>
                  <div class="border-footer"></div>
                  <p>Copyright 2018. All Rights Reserved.</p>
                  <!--div class="social">
                      <a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
                      <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                      <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                      <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                      <a class="vine" href="#"><i class="fa fa-vine"></i></a>
                  </div-->
              </div>
       <div class="col-md-2 col-sm-2 col-xs-12">
                  <h2>Cities</h2>
                  <div class="border-footer"></div>
                  <ul>
                      <li><a href="#">Pta</a></li>
                      <li><a href="#">Jhb</a></li>
                      <li><a href="#">Plk</a></li>
                      <li><a href="#">Cpt</a></li>
                  </ul>
              </div>

              <div class="col-md-2 col-sm-2 col-xs-12">
                  <h2>Category</h2>
                  <div class="border-footer"></div>
                  <ul>
                      <li><a href="#">Back Room</a></li>
                      <li><a href="#">Flat Share</a></li>
                      <li><a href="#">Room Share</a></li>
                  </ul>
              </div>


              <div class="col-md-4 col-sm-4 col-xs-12">
                  <h2>Stay In Touch</h2>
                  <div class="border-footer"></div>
                  <p>Join Our Newsletter.</p>
                  <form class="form-inline footer-newsletter">
                      <div class="form-group newsletter-input">
                          <input type="email" class="form-control" name="news_letter_email" id="news_letter_email"
                                 placeholder="Email">
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-submit">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="divider-medium"></div>
  </div>
</div><!-- Footer Page Footer -->
