<!-- Main Page header -->
<div class="sub-header">
    <div class="sub-header-shadow">
        <div class="container">
            <div class="sub_header_text">
                <div class="sub-header-info">
                    <h2>About us</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Testimonial Section -->
<div class="section-testimonial">
    <div class="divider-medium"></div>
    <div class="container ">
        <div class="row">
            <!-- Start Testimonial Content -->
            <div class="col-md-12 col-sm-7 col-xs-12 testimonial-main">
                <div class="testimonial-panel">
                        <span class="testimonial-header-text">
                            Some nice words from our clients. The funds are strictly designed to help single-family homeowners retrofit their residences for safety purposes.
                        </span>
                </div>
                <div class="testimonial-main">
                    <div class="widget testimonial-widget-main">
                        <div class="listing testimonial-listing-list">
                            <!-- Start Single Testimonial Item -->
                            <div class="testimonial-item">
                                <div class="review testimonial-review">
                                    <div class="">
                                        <!-- Testimonial Rating & Name -->
                                        <div class="testimonial-review-details"><span class="testimonial-review-name">what is Squata</span>
                                        </div>
                                        <!-- Testimonial Description -->
                                        <p class="testimonial-review-info">Squata is an online system that gives to provides a application platform which allows brings cross-roads and Parks in peoples hands, is an application that allow people who are looking for ranting rooms may it be in flats or in our townsships rooms
                                        </p>
                                    </div>
                                </div>
                            </div><!-- End Single Testimonial Item -->
                            <div class="testimonial-item">
                                <div class="review testimonial-review">
                                    <div class="">
                                        <div class="testimonial-review-details"><span class="testimonial-review-name">Why Squata</span>
                                        </div>
                                        <p class="testimonial-review-info">Looking for a place can be quite a husle especially when you do not know which conner to go to look for the poster on , thats where squata is there for, you do not have to skip a class or go ealry from work just to go look for a place to rent
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="review testimonial-review">
                                    <div class="">
                                        <div class="testimonial-review-details"><span class="testimonial-review-name">who can use Squata</span>
                                        </div>
                                        <p class="testimonial-review-info">well basically squata can be used by anyone who is looking for a place to Rent , with that being said squata was initially made to assist lower and midium level wokers and also varsity students , theses are the people who caanot aford to buy their own accomodation but relay on rentals and the ones that are most afordable
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="review testimonial-review">
                                    <div class="testimonial-review-details"><span class="testimonial-review-name">how to use squata app</span>
                                    </div>
                                    <p class="testimonial-review-info">
                                       well squata is an online system , accesable by any device that has internet acces and has the capability to run a web browser using model, popular and powerful pltforms Squata was built in a way that it becomps self explenitory
                                    </p>
                                </div>
                            </div>
							<div class="testimonial-item">
                                <div class="review testimonial-review">
                                    <div class="">
                                        <div class="testimonial-review-details"><span class="testimonial-review-name">Who built squata</span>
                                        </div>
                                        <p class="testimonial-review-info">Squata is a product of bitsystems.technology
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Testimonial Content -->
            <!-- Start Search filter sidebar -->

        </div>
    </div>
    <div class="divider-medium"></div>
</div><!-- End Testimonial Section -->
