<header>
  <div class="top-header">
      <div class="container">
          <div class="header-logo">
              <!-- Template logo -->
              <a href="#">
                  <img src="assets/image/logo-small.png" alt="logo">
              </a>
          </div>
          <div class="header-right">
              <div class="phone-section">
          <a href="agent_detail.html" class="post btn btn-sm btn-default abtn">Post a room</a>
              </div>
          </div>
      </div>
  </div>
</header>
